#link_building {
  background-color: #8e59fe;

  .link_building_wrap {
    display: flex;
    align-items: center;
    padding-top: 66px;
    padding-bottom: 43px;
    @media (max-width: 992px) {
      flex-direction: column-reverse;
      padding-top: 50px;
      padding-bottom: 50px;
    }
    @media (max-width: 767px) {
      padding-top: 30px;
      padding-bottom: 30px;
    }

    .link_building_info {
      margin-right: 49px;
      @media (max-width: 992px) {
        margin-right: 0;
        margin-top: 30px;
      }

      .pre_title {
        text-transform: uppercase;
        color: #fef999;
        margin-bottom: 7px;
      }

      .title {
        color: #ffffff;
      }
    }

    .link_building_img {
      max-width: 402px;
      width: 100%;
      object-fit: contain;
    }
  }
}