#partners {
  background-color: #fffdea;

  .partners_wrap {
    padding-top: 36px;
    padding-bottom: 41px;
    @media (max-width: 767px) {
      padding-top: 30px;
      padding-bottom: 30px;
    }

    p {
      color: #000000;
      text-align: center;
      margin-bottom: 15px;
    }

    .partners_content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 -37px;
      @media (max-width: 1200px) {
        justify-content: center;
        flex-wrap: wrap;
        row-gap: 15px;
        margin: 0;
      }

      .partners_item {
        height: 30px;
        object-fit: contain;
        margin: 0 37px;
        @media (max-width: 767px) {
          height: 20px;
          margin: 0 20px;
        }
      }
    }
  }
}