#user_reviews_slider {
    .user_reviews_slider_wrap {
        max-width: 1270px;
        width: 100%;
        padding-left: 80px;
        padding-right: 80px;
        padding-top: 61px;
        padding-bottom: 71px;
        @media (max-width: 1024px) {
            padding-left: 35px;
            padding-right: 35px;
        }
        @media (max-width: 992px) {
            padding-top: 50px;
            padding-bottom: 50px;
        }
        @media (max-width: 767px) {
            padding-top: 30px;
            padding-bottom: 30px;
            padding-left: 0;
            padding-right: 0;
        }

        .swiper_wrap {
            width: 100%;
            position: relative;

            .swiper-button-next {
                right: -85px;
                @media (max-width: 1024px) {
                    right: -40px;
                }
                @media (max-width: 767px) {
                    display: none;
                }

                &:after {
                    font-size: 25px;
                    font-weight: 600;
                    color: #000000;
                }
            }

            .swiper-button-prev {
                left: -85px;
                @media (max-width: 1024px) {
                    left: -40px;
                }
                @media (max-width: 767px) {
                    display: none;
                }

                &:after {
                    font-size: 25px;
                    font-weight: 600;
                    color: #000000;
                }
            }
        }

        h2 {
            color: #000000;
            text-align: center;
            margin-bottom: 40px;
            @media (max-width: 767px) {
                margin-bottom: 30px;
            }
        }

        .user_reviews_slider_content {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
            @media (max-width: 767px) {
                gap: 15px;
                padding: 0 20px;
            }

            .user_reviews_slider_item {
                display: flex;
                flex-direction: column;
                width: calc(100% / 3 - 20px);
                height: initial;
                border-radius: 14px;
                background-color: #fffdea;
                padding: 42px 22px 32px;
                @media (max-width: 992px) {
                    width: calc(50% - 15px);
                }
                @media (max-width: 767px) {
                    width: 100%;
                }

                .stars {
                    display: flex;
                    align-items: center;
                    margin-bottom: 12px;
                }

                .item_desc {
                    flex: 1;
                    color: #000000;
                    margin-bottom: 15px;
                }

                .item_info {
                    display: flex;
                    align-items: center;
                    margin: 0 0 0 -5px;

                    img {
                        width: 41px;
                        height: 41px;
                        object-fit: cover;
                        border-radius: 100%;
                        margin-right: 12px;
                    }

                    .item_texts {
                        .item_name {

                        }
                    }
                }
            }
        }
    }
}