#what_do_you_need {
  background-color: #8e59fe;

  .what_do_you_need_wrap {
    padding-top: 60px;
    padding-bottom: 71px;
    @media (max-width: 992px) {
      padding-top: 50px;
      padding-bottom: 50px;
    }

    h2 {
      color: #ffffff;
      text-align: center;
      margin-bottom: 39px;
      @media (max-width: 767px) {
        margin-bottom: 30px;
      }
    }

    .what_do_you_need_content {
      display: flex;
      justify-content: space-between;
      @media (max-width: 767px) {
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px;
      }

      .what_do_you_need_item {
        width: calc(25% - 42px / 4);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @media (max-width: 767px) {
          width: calc(50% - 10px);
        }


        .img_wrap {
          height: 106px;
          display: flex;
          align-items: flex-end;
          margin-bottom: 10px;

          img {
            object-fit: contain;
          }
        }

        .item_title {
          color: #ffffff;
          text-align: center;
        }
      }
    }
  }
}