.error-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #8e59fe;

  .error_wrap {
    height: 100%;

    .not-found {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 50px 0;

      h1 {
        color: #ffffff;
        font-family: 'Space Grotesk', sans-serif;
        font-size: 46px;
        font-weight: 700;
        line-height: 42px;
        margin-bottom: 20px;
        text-align: center;
        @media (max-width: 767px) {
          font-size: 36px;
          line-height: 40px;
          margin-bottom: 15px;
        }
      }

      p {
        color: #ffffff;
        font-family: 'Inter', sans-serif;
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        text-align: center;
      }
    }
  }
}