.single-blog-page {
    .single_blog_wrap {
        .banner {
            background-color: #8e59fe;

            .banner_wrap {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding-top: 25px;
                padding-bottom: 25px;
                @media (max-width: 992px) {
                    padding-top: 30px;
                    padding-bottom: 30px;
                }

                h2 {
                    color: #ffffff;
                    max-width: 540px;
                }

                img {
                    max-width: 220px;
                    object-fit: contain;
                    margin-right: 128px;
                    @media (max-width: 992px) {
                        margin-right: 0;
                    }
                    @media (max-width: 767px) {
                        display: none;
                    }
                }
            }
        }

        .single_blog_content {
            max-width: 800px;
            width: 100%;
            margin: 0 auto;
            padding: 87px 35px 52px;
            @media (max-width: 992px) {
                padding: 50px 35px;
            }
            @media (max-width: 767px) {
                padding: 30px 15px;
            }

            .single_blog_excerpt {
                line-height: 30px;
                margin-bottom: 20px;
                @media (max-width: 767px) {
                    line-height: 24px;
                }
            }

            .single_blog_content_wrap {
                h3 {
                    color: #8e59fe;
                    font-family: 'Space Grotesk', sans-serif;
                    font-size: 20px;
                    font-weight: 700;
                    line-height: 30px;
                    margin: 20px 0 15px;
                    @media (max-width: 767px) {
                        font-size: 18px;
                        margin: 10px 0;
                        line-height: 24px;
                    }
                }

                h4, h5, h6 {
                    color: #000000;
                    font-family: 'Space Grotesk', sans-serif;
                    font-size: 14px;
                    font-weight: 700;
                    line-height: 30px;
                    margin-bottom: 8px;
                    @media (max-width: 767px) {
                        line-height: 20px;
                    }
                }

                p {
                    display: inline-block;
                    color: #000000;
                    font-family: 'Inter', sans-serif;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 24px;
                    margin-bottom: 20px;
                    @media (max-width: 767px) {
                        margin-bottom: 10px;
                    }
                }
            }

            .single_blog_author {
                border-radius: 6px;
                background-color: #fef999;
                display: flex;
                align-items: center;
                overflow: hidden;
                margin-top: 10px;

                img {
                    height: 174px;
                    object-fit: contain;
                    margin: auto auto 0 0;
                    @media (max-width: 767px) {
                        display: none;
                    }
                }

                .single_blog_author_info {
                    padding: 30px 51px 30px 40px;
                    @media (max-width: 767px) {
                        padding: 20px;
                    }

                    .position {
                        text-transform: uppercase;
                        line-height: normal;
                        margin-bottom: 5px;
                    }

                    .name {
                        line-height: normal;
                        margin-bottom: 5px;
                    }

                    .excerpt {
                        line-height: 18px;
                    }
                }
            }

            .single_blog_share {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 28px;
                gap: 10px;
                @media (max-width: 767px) {
                    margin-top: 20px;
                }

                .title {
                    text-transform: uppercase;
                }

                .share_links {
                    display: flex;
                    align-items: center;
                    gap: 25px;

                    a {
                        display: flex;

                        img {
                            max-height: 19px;
                            object-fit: contain;
                        }
                    }

                    div {
                        display: flex;
                        cursor: pointer;
                    }
                }
            }
        }

        .single_blog_related {
            background-color: #f9f6ff;

            .single_blog_related_wrap {
                max-width: 1270px;
                width: 100%;
                padding-left: 80px;
                padding-right: 80px;
                padding-top: 51px;
                padding-bottom: 97px;
                @media (max-width: 1024px) {
                    padding-left: 35px;
                    padding-right: 35px;
                }
                @media (max-width: 992px) {
                    padding-top: 50px;
                    padding-bottom: 50px;
                }
                @media (max-width: 767px) {
                    padding-top: 30px;
                    padding-bottom: 30px;
                    padding-left: 0;
                    padding-right: 0;
                }

                .swiper_wrap {
                    width: 100%;
                    position: relative;

                    .swiper-button-next {
                        right: -85px;
                        @media (max-width: 1024px) {
                            right: -40px;
                        }
                        @media (max-width: 767px) {
                            display: none;
                        }

                        &:after {
                            font-size: 25px;
                            font-weight: 600;
                            color: #000000;
                        }
                    }

                    .swiper-button-prev {
                        left: -85px;
                        @media (max-width: 1024px) {
                            left: -40px;
                        }
                        @media (max-width: 767px) {
                            display: none;
                        }

                        &:after {
                            font-size: 25px;
                            font-weight: 600;
                            color: #000000;
                        }
                    }
                }

                h2 {
                    text-align: center;
                    margin-bottom: 50px;
                    @media (max-width: 767px) {
                        margin-bottom: 30px;
                    }
                }

                .related_content {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 30px;
                    @media (max-width: 992px) {
                        justify-content: center;
                    }
                    @media (max-width: 767px) {
                        gap: 15px;
                        padding: 0 20px;
                    }

                    .related_item {
                        width: calc(100% / 3 - 60px / 3);
                        height: initial;
                        border-radius: 14px;
                        background-color: #ffffff;
                        color: unset;
                        @media (max-width: 992px) {
                            width: calc(50% - 15px);
                        }
                        @media (max-width: 992px) {
                            width: 100%;
                        }

                        img {
                            width: 100%;
                            aspect-ratio: 350 / 199;
                            border-radius: 14px 14px 0 0;
                            object-fit: cover;
                        }

                        .related_info {
                            padding: 33px 33px 20px;
                            @media (max-width: 1024px) {
                                padding: 20px;
                            }

                            .related_title {
                                line-height: 24px;
                                margin-bottom: 13px;
                            }
                        }
                    }
                }
            }
        }
    }
}